{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load l10n %}

{% block bootstrap5_title %}{% block title %}{% trans "Hygrometer data" %}{% endblock %}{% endblock %}

{% block bootstrap5_content %}

{% block content %}

<div class="container">
    <h1>{% trans "Hygrometer data" %}</h1>
</div>

<div class="container">
    <h2>{% trans "Filter" %}</h2>
    <form method="get" class="row g-3 align-items-end mb-3" role="search">
        <div class="col-auto">
            <label for="date" class="form-label visually-hidden">{% trans "Date" %}</label>
            <input type="date" class="form-control" id="date" name="date" value="{{ date_filter }}">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success">{% trans "Filter data" %}</button>
            <a href="{% url 'search:hygrometer' %}" class="btn btn-outline-success">{% trans "Reset filter" %}</a>
        </div>
    </form>
</div>

<div class="container">
    <h2>{% trans "Hygrometer chart" %}</h2>
    <canvas id="hygrometerChart"></canvas>
</div>

<br/>

<div class="container">
    <a class="btn btn-success" data-bs-toggle="collapse" href="#collapseRawData" role="button" aria-expanded="false" aria-controls="collapseRowData">
    {% trans "Show data table" %}
    </a>
</div>

<div class="container mt-4 collapse" id="collapseRawData">
    <h2>{% trans "Saved data" %}</h2>

    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
        <tr>
            <th scope="col">{% trans "Timestamp" %}</th>
            <th scope="col">{% trans "Moisture" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in data %}
        <tr style="cursor:pointer" onclick="window.location='{% url 'search:hygrometerdetails' item.timestamp %}?{{ request.GET.urlencode }}'">
            <td>{{ item.timestamp }}</td>
            <td>{{ item.moisture }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">{% trans "No data found" %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<br/>

{% endblock %}

{% endblock %}

{% block bootstrap5_extra_script %}
<script src="{% static 'chart.js/chart.umd.min.js' %}"></script>
<script>
    const ctx = document.getElementById('hygrometerChart');

    const chartData = [
        {% for item in data %}
        {
            timestamp: new Date("{{ item.timestamp }}").toLocaleDateString(
                undefined, {
                    day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit'
                }
            ),
            moisture: {{ item.moisture|unlocalize }}
        },
        {% endfor %}
    ];

    const labels = chartData.map(item => item.timestamp);
    const values = chartData.map(item => item.moisture);

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: '{% trans "Moisture" %}',
                data: values,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                x: {
                    ticks: {
                        minRotation: 90,
                        maxRotation: 90
                    }
                },
                y: {
                    beginAtZero: false
                }
            }
        }
    });
</script>
{% endblock %}
